:root {
    --clr-primary-200: rgba(255, 255, 255, 0.8);
    --clr-primary-400: rgba(0,10,20,.5);


    --ff-primary: 'Montserrat', sans-serif;
    /* --ff-accent: 'Playfair', serif; */
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

html {
    background: rgb(247,34,169) no-repeat;
    background: linear-gradient(120deg, rgba(247,34,169,1) 0%, rgba(48,48,164,1) 36%, rgba(255,5,0,1) 100%) no-repeat;
}

/* html:hover {
    background:
} */

body {
    font-family: var(--ff-primary);
    font-weight: 800;
    overflow-y: hidden;
}

/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

h1 {
    font-size: 3rem;
    padding-top: 5rem;
    /* text-transform: uppercase; */
    text-shadow: 2px 2px 4px rgba(247,34,169,.2), -2px -2px 4px rgba(255,5,0,.2);
}

h1, #loveYou {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-primary-200);
    letter-spacing: .2rem;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

#loveYou {
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(255,255,255,0.2);
}

.ballcontainer {
    display: flex;
    justify-content: center;
}

.balloon {
    text-align: center;
    display:inline-block;
    width:120px;
    height:145px;
    background:#FFD700;
    border-radius:80%;
    position:relative;
    box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);
    margin:20px 30px;
    transition:transform 0.5s ease;
    z-index:10;
    animation:balloons 4s ease-in-out infinite;
    transform-origin:bottom center;
  }
  
  @keyframes balloons {
    0%,100%{ transform:translateY(0) rotate(-4deg); }
    50%{ transform:translateY(-25px) rotate(4deg); }
  }
  
  
  .balloon:before {
    content:"▲";
    font-size:20px;
    color:#FFD700;
    display:block;
    text-align:center;
    width:100%;
    position:absolute;
    bottom:-12px;
    z-index:-100;
  }
  
  .balloon:after {
   display:inline-block; top:153px;
    position:absolute;
    height:250px;
    width:1px;
    margin:0 auto;
    content:"";
    background:rgba(0,0,0,0.2); 
  }
  
  .balloon:nth-child(2){ background:#2a9df4; animation-duration:3.5s; }
  .balloon:nth-child(2):before { color:#2a9df4;  }
  
  .balloon:nth-child(3){ background:hsl(139,50%,60%); animation-duration:3s; }
  .balloon:nth-child(3):before { color:hsl(139,30%,50%);  }
  
  .balloon:nth-child(4){ background:hsl(59,50%,58%); animation-duration:4.5s; }
  .balloon:nth-child(4):before { color:hsl(59,30%,52%);  }
  
  .balloon:nth-child(5){ background:hsl(23,55%,57%); animation-duration:5s; }
  .balloon:nth-child(5):before { color:hsl(23,44%,46%);  }
  