.app {
  background-color: var(--theme-page-background);
  color: var(--theme-page-text);
}

.footer {
  height: 63px;
  background-color: var(--theme-accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--theme-btn-text);
  /* margin-top: 3em; */
}