.aboutme-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 2em;
  max-width: 1600px;
  margin: 4em auto;
}

@media screen and (max-width: 700px) {
  .aboutme-container {
    margin: 8em auto;
  }
}

.aboutme-bio {
  text-align: center;
  max-width: 75ch;
  margin-bottom: 2em;
}

.about-me-btn {
  width: 100%;
  padding: .8em .25em;
  font-size: 1em;
  max-width: 270px;
  text-decoration: none;
  text-align: center;
}

.about-me-btn:visited {
  color: #FDFDFD;
  text-decoration: none;
}

.about-me-btn:hover {
  cursor: pointer;
  background-color: var(--theme-btn-hover-color);
}
