.projects-display-container {
  width: 100%;
  background-color: var(--theme-accent-color);
  border-radius: 4px;
  display: grid;
  padding: 1.5em;
  grid-template-columns: 1fr 1fr;
  gap: 1.25em;
  max-width: 1080px;
  margin: 0 auto;
}